.App {
    text-align: center;
    height: 100%; 
  }

  .maincontainer{
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    position: relative;
  }



  .container{
    
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 50vh;
  padding-bottom: 6rem;
  }
  .link{
    color: #242424;

  }
 .body{
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.75;
    color: #242424;
    font-size: 1.1rem;
    letter-spacing: .033rem;
    height: 100%;


 }


  .App-header {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
    height: 150px;
    padding: 20px;
    color: #0a0a0a;
    position: relative;
    height: 100%;
  }


  .page-title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    color: #0a0a0a;
    margin-top: 50px;
    margin-bottom: 30px;

  }

  .hero-text{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: #0a0a0a;
    margin-top: 6.5rem;
    margin-bottom: 50px;
  }

  .content-para{
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.75;
    color: #242424;
    font-size: 1.1rem;
    letter-spacing: .020rem;
    text-align: justify;
  }
  
  .password-display{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 6.5rem;
    color: #242424;
  }

  .copy-clipboard{
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: .79rem;
    color: darkgrey;
    cursor: pointer;
  }
  .copy-clipboard:active{
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  .copy-clipboard:hover {
    color: #313131;
}

  /* .password-area {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
    margin-top: 10%;
    width: 30rem;
  } */
  
  .button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:300;
    color: #0a0a0a;
    letter-spacing: .034rem;
    /* z-index: 2; */
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.06), 0 2px 22px rgba(0,0,0,.07);
    border-radius: 200rem;
    border: none;
    background: #fff;  
    margin: .75rem;
    margin-top: 4rem;
    padding: 0 2rem;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
  }

  

  button:focus { outline:0 !important; 
  }  
  button:hover {   
    color: #212529;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  button:active {
    outline: none;
    border: none;
    -webkit-transform: translateZ(+2px);
    transform: translateZ(+2px);
    }

    .buttonmain {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight:300;
      color: #0a0a0a;
      letter-spacing: .034rem;
      /* z-index: 2; */
      left: 5px;
      top: 5px;
      right: 5px;
      bottom: 5px;
      box-shadow: 0 1px 2px rgba(0,0,0,.06), 0 2px 22px rgba(0,0,0,.07);
      border-radius: 200rem;
      border: none;
      background: #fff;  
      margin: .75rem;
      margin-top: 4rem;
      padding: 0 2rem;
      font-size: 1rem;
      height: 3rem;
      line-height: 3rem;
      -webkit-transition: all .15s ease;
      transition: all .15s ease;
    }
  
    
  
    buttonmain:focus { outline:0 !important; 
    }  
    buttonmain:hover {   
      color: #212529;
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
  
    buttonmain:active {
      outline: none;
      border: none;
      -webkit-transform: translateZ(+2px);
      transform: translateZ(+2px);
      }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2018-8-8 13:34:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
